body {
    background-color: rgba(53, 136, 199, 0.973);
}

*{
    font-family: 'Gemunu Libre', sans-serif;
}

.header {
    text-align: center;
}

.foto>.gambar {
    width: 120px;
    height: 120px;
}

.foto {
    text-align: center;
    width: 150px;
    height: 150px;
    background-color: rgb(59, 230, 215);
    border-radius: 50%;
    margin: auto;
}

.kontak {
    text-align: center;
    font-size: 40px;
    max-width: 1500px;
    width: 1500px;
    height: 50px;
    background-color:rgb(0, 136, 255)
}

.hiji {
    text-align: center;
    line-height: 1.6;
    background-color:rgb(0, 136, 255)
}

.deskripsi {
    text-align: center;
}

.dua {
    line-height: 1.6;
    text-align: center;
    background-color:rgb(0, 136, 255) ;
}

.data {
    text-align: center;
}

.h3 {
    line-height: 1.6;
    text-align: center;
    background-color:rgb(0, 136, 255)
}

.pengalaman {
    line-height: 1.6;
    text-align: center;
    background-color:rgb(0, 136, 255)
}

.box0 {
    background: rgb(66, 66, 214);
    height: 130px;
    width: 500px;
    padding: 20px;
    margin:auto
}

.opat {
    line-height: 1.6;
    text-align: center;
    background-color:rgb(0, 136, 255)
}

.box1 {
    background: rgb(66, 66, 214);
    height: 130px;
    width: 500px;
    padding: 20px;
    margin:auto
}

.enam {
    line-height: 1.6;
    text-align: center;
    background-color:rgb(0, 136, 255)
}

.box2 { background: rgb(66, 66, 214);
    height: 128px;
    width: 500px;
    padding: 20px;
    margin:auto
}

.inspirasi {
    line-height: 1.6;
    text-align: center;
    background-color:rgb(0, 136, 255)
}

